# as 4 linhas abaixo, foram necessárias para remover as extensões .html dos arquivos na URL
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

# com a linha abaixo, o código php pode ser executado dentro de um arquivo .html, não sendo necessário converter o arquivo para .php
AddHandler application/x-httpd-lsphp .htm .html