#content {
    min-height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--color-level3);
    background-image: linear-gradient(to top, #254e70 0%, #5E88BA 100%);

    .title-question {
        margin-bottom: 20px;
    }

    .container-btn {
        gap: 10px;
        width: auto;
        display: flex;
        padding: 10px;
        margin: 0 15px;
        flex-wrap: wrap;
        border-radius: 10px;
        justify-content:flex-start;
        background-color: var(--color-level3);
        
        .btn-anchor {
            gap: 5px;
            flex-grow: 1;
            padding: 10px;
            display: flex;
            transition: all .3s;
            align-items: center;
            border-radius: 10px;
            text-decoration: none;
            justify-content: center;
            color: var(--color-level0);
            background-color: #e0e0e0;

            i {
                font-size: 20px;
            }
        }

        .btn-anchor:hover {
            background-color: var(--color-level1);
            color: var(--color-level3);
        }
    }
}

@media (max-width: 450px){
    #content {
    
        .container-btn {
    
            .btn-anchor {
                width: 100%;
                text-align: center;
                font-size: 14px;
                flex-direction: column;
            }
        }
    }
}