#daily-devotional {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 148px);

    .content-verse-of-the-day {
        gap: 30px;
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: column;
        background-size: cover;
        color: var(--color-level3);
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 0 0 10px 10px;
        padding: 140px 10px 65px 10px;
        background-image: linear-gradient(to bottom, #00000065 55%, transparent 100%), url('../images/devotional-verse/person-meditating-on-the-word.jpg');

        .text-verse {
            width: 100%;
            font-size: 28px;
            max-width: 700px;
            font-weight: 700;
            line-height: 45px;
            text-align: center;
            letter-spacing: 2px;
        }

        .book-verse {
            text-align: center;
            vertical-align:top;
            align-items: center;
            display: inline-flex;
        }

        .devotional-section-title {
            bottom: -24px;
            padding: 10px 30px;
            position: absolute;
            border-radius: 10px;
            color: var(--color-level0);
            background-color: var(--color-level3);
            box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
        }
    }

    .content-devotional-text {
        width: 100%;
        max-width: 700px;
        line-height: 35px;
        padding: 50px 10px 0 10px;
        position: relative;
        text-align: center;
        margin: 0 auto;
        color: var(--color-level0);
    }

    .content-devotional-text::first-letter {
        font-size: 50px;
        font-weight: bold;
    }

    .fa-solid {
        margin: 0 5px;
        font-size: 26px;
    }

    .content-back-button {
        display: flex;
        justify-content: center;
        margin: 30px 0 50px 0;

        .to-go-back {
            display: flex;
            padding: 10px;
            align-items: center;
            border-radius: 10px;
            transition: all 0.5s;
            text-decoration: none;
            justify-content: center;
            color: var(--color-level3);
            background-color: var(--color-level2);
            box-shadow: 0px 10px 20px -3px rgba(0,0,0,0.1);
        }

         .to-go-back:hover {
            background-color: var(--color-level1);
         }
    }
}

@media(max-width: 740px) {
    #daily-devotional {
        .content-verse-of-the-day {
            padding: 110px 20px 55px 10px;
            background-position: center top;

            .text-verse {
                font-size: 18px;
                font-weight: 500;
                line-height: 25px;
                letter-spacing: 0px;
            }

            .book-verse {
                font-size: 13px;
            }
        }

        .content-devotional-text {
            font-size: 14px;
            line-height: 30px;
            padding: 50px 20px 0 20px;
            letter-spacing: 1px;
            text-align: justify;
        }

        .content-devotional-text::first-letter {
            font-size: 40px;
        }

        .content-back-button {
            .to-go-back {
                padding: 7px;
                font-size: 0.8em;
            }
        }
    }
}