footer {
    width: 100%;
    padding: 15px;
    background-color: #254e70;

    .content {
        position: relative;
        border-radius: 10px;
        padding: 10px 0 60px 0;
        background-color: var(--color-level3);

        p {
            text-align: center;

            #church-name {
                font-weight: bold;
                color: var(--color-level1);
            }
        }

        #btn_admin-access {
            border: none;
            right: 10px;
            bottom: 10px;
            padding: 10px;
            position: absolute;
            transition: all 1s;
            border-radius: 10px;
            text-decoration: none;
            color: var(--color-level3);
            background-color: var(--color-level2);
        }

        #btn_admin-access:hover {
            color: var(--color-level3);
            background-color:  var(--color-level1);
        }
    }
}

@media (max-width: 740px) {

    footer {
        font-size: 12px;

        .content {
            #btn_admin-access {
                right: 3px;
                bottom: 3px;
            }
        }
    }
}