#home {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    text-align: center;
    align-items: center;
    padding: 0 15px 130px 15px;
    background-size: cover;
    color: var(--color-level3);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: space-evenly;
    background-image: linear-gradient(to bottom, #00000090 55%, #f0f4f9 100%), url('../images/home-screen-wallpaper.webp');

    .church-information {
        .sign-icp-casa-do-pai {
            width: 100%;
            max-width: 600px;
        }

        .text-apostolic-year {
            width: 100%;
            max-width: 550px;
            line-height: 20px;
            margin-top: 20px;
        }
    }

    .calendar {
        gap: 10px;
        width: 100%;
        display: flex;
        max-width: 600px;
        flex-direction: column;

        .diary-card {
            gap: 5px;
            padding: 5px;
            display: flex;
            border-radius: 20px;
            transition: background 1s;
            backdrop-filter: blur(3px) saturate(180%);
            background-color: rgba(255, 255, 255, 0.122);

            .daily {
                padding: 5px;
                min-width: 100px;
                border-radius: 17px 0 0 17px;
                backdrop-filter: blur(3px) saturate(180%);
                background-color: rgba(15, 96, 167, 0.214);

                .event-day {
                    font-size: 2.5em;
                    font-weight: bold;
                    white-space: nowrap;

                    .event-month {
                        font-size: 0.4em;
                        font-weight: normal;
                    }
                }
            }

            .event-description {
                width: 100%;
                display: flex;
                flex-direction: column;
                border-radius: 0 17px 17px 0;
                backdrop-filter: blur(1px) saturate(180%);
                background-color: rgba(255, 255, 255, 0.114);

                .label {
                    padding: 3px 3px;
                    width: fit-content;
                    white-space: nowrap;
                    border-radius: 0 10px 0 0;
                    background-color: rgba(0, 0, 0, 0.201);

                    .today {
                        background-color: rgba(144, 238, 144, 0.534);
                        padding: 2px 4px;
                        border-radius: 0 8px 0 0;
                    }
                }

                .description {
                    height: 100%;
                    text-align: start;
                    padding: 3px 5px;
                    border-radius: 0 17px 17px 0;
                    background-color: rgba(255, 255, 255, 0.151);
                }
            }
        }

        .diary-card:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

    .calendar::before {
        font-size: 2em;
        margin-top: 100px;
        content: 'Agenda ICP';
        font-family: 'caveat';
    }
}

@media(width < 1600px){
    #home {
        .church-information {
            .sign-icp-casa-do-pai {
                max-width: 500px;
            }
        }
    }
}

@media(width < 1260px){
    #home {
        padding-top: 135px;
        background-attachment: scroll;

        .calendar::before {
            margin-top: 0;
        }
    }
}

@media(width < 720px){
    #home {
        font-size: 0.8em;

        .church-information {
            .sign-icp-casa-do-pai {
                padding: 0 40px;
            }
        }

        .calendar {
            .diary-card {
                .daily {
                    min-width: 80px;

                    .event-day {
                        .event-month {
                            font-size: 0.4em;
                        }
                    }
                }
            }
        }
    }
}