#home {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/banner-sky.jpg');
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--color-level3);
    text-align: center;
    padding: 10px;

    .church-name-and-apostolic-year {
        line-height: 65px;

        .church-name {
            font-size: 95px;
            font-weight: 600;
        }

        .apostolic-year {
            font-size: 75px;
            font-weight: 600;
        }

        span {
            font-size: 35px;
            font-weight: 100;
            vertical-align: middle;
        }
    }

    .text-apostolic-year {
        margin: 20px 0;
    }

    .btn-text-apostolic-year{
        border: none;
        background-color: var(--color-level1);
        color: var(--color-level3);
        border-radius: 10px;
        font-size: 15px;
        font-weight: 300;
        padding: 8px 14px;

        span {
            font-weight: 500;
        }
    }

    .btn-text-apostolic-year:hover {
        background-color: #296eaa;
    }

    dialog {
        margin: auto;
        padding: 40px;
        max-width: 520px;
        text-align: left;
        border-radius: 10px;

        .book-chapter-verse-version {
            margin-bottom: 10px;
        }

        .verse-number {
            color: var(--color-level1);
        }

        .verse {
            margin-top: 10px;
        }

        .btn-closed-text-apostolic-year {
            border-radius: 10px;
            padding: 10px 14px;
            font-size: 24px;
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid var(--color-level1);
        }

        .btn-closed-text-apostolic-year:hover {
            background-color: var(--color-level1);
            color: var(--color-level3);
        }
    }

    dialog::backdrop {
        background-color: #000000a9;
    }
}

.overlay {
    border-image: linear-gradient(#00000090, #00000090) fill 1;
}

/* RESPONSIVE */

@media (max-width: 860px) {

    #home {

        .church-name-and-apostolic-year {
            line-height: 55px;

            .church-name {
                font-size: 85px;
            }

            .apostolic-year {
                font-size: 65px;
            }

            span {
                font-size: 30px;
                font-weight: 200;
            }
        }

        .text-apostolic-year {
            font-size: 14px;
        }

        .btn-text-apostolic-year{
            font-size: 14px;
        }
    }
}

@media (max-width: 764px) {

    #home {

        .church-name-and-apostolic-year {
            line-height: 45px;

            .church-name {
                font-size: 58px;
                font-weight: 500
            }

            .apostolic-year {
                font-size: 48px;
                font-weight: 500
            }

            span {
                font-size: 23px;
            }
        }

        dialog {

            .verse {
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 547px) {

    #home {

        .church-name-and-apostolic-year {
            line-height: 25px;

            .church-name {
                font-size: 32px;
                font-weight: 600
            }

            .apostolic-year {
                font-size: 25px;
                font-weight: 600
            }

            span {
                font-size: 14px;
            }
        }

        .text-apostolic-year {
            font-size: 13px;
        }

        .btn-text-apostolic-year{
            font-size: 13px;
        }
    }
}