#encontro-de-casais {
    padding: 68px 5px 18px;
    z-index: -1;
    background-image: linear-gradient(to top, #473B7B 0%, #5E88BA 100%);

    .section-gallery-title {
        font-size: 30px;
        text-align: center;
        color: var(--color-level3);
        margin-bottom: 30px;
        text-shadow: 1px 1px 1px #000;
    }

    #gallery-primary {
        position: relative;
        text-align: center;
        overflow: hidden;
        user-select: none;
        z-index: 1;

        .photo-caption {
            color: white;
            backdrop-filter: blur(10px);
            text-shadow: 1px 1px 1px #000;
        }

        input {
            position: absolute;
            opacity: 0;
        }

        label {
            display: inline-block;
            width: 15px;
            height: 15px;
            border: solid 2px #fff;
            border-radius: 50%;
            margin: 65vh 5px 0 5px;
            cursor: pointer;
            transition-duration: .9s;
        }

        input:checked+label {
            background-color: #ffffff;
        }

        input+label::after {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512' width='100' style='fill:white'%3E%3Cpath d='M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z' /%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center 55%;
            background-size: 80px 80px;
            position: absolute;
            height: calc(90% - 12px);
            width: 80px;
            top: 0;
            left: 0;
            z-index: 20;
        }

        input:checked+label::after {
            background-image: none;
            width: 100vw;
            left: 0;
            z-index: 10;
        }

        input:checked+label+.slide~input+label::after {
            display: none;
        }

        input:checked+label+.slide+input+label::after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512' width='100' fill='white'%3E%3Cpath d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z' /%3E%3C/svg%3E");
            display: block;
            width: 80px;
            right: 0;
            left: auto;
        }

        .slide {
            position: absolute;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            transform: translateX(-100%);
            transition-duration: .4s;
            opacity: 1;
        }

        input:checked~.slide {
            transform: translateX(100%);
        }

        input:checked+label+.slide {
            transform: translateX(0);
            opacity: 1;
        }

        .bg1 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo01.webp');
        }

        .bg2 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo02.webp');
        }

        .bg3 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo03.webp');
        }

        .bg4 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo04.webp');
        }

        .bg5 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo05.webp');
        }

        .bg6 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo06.webp');
        }

        .bg7 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo07.webp');
        }

        .bg8 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo08.webp');
        }

        .bg9 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo09.webp');
        }

        .bg10 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo10.webp');
        }

        .bg11 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo11.webp');
        }

        .bg12 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo12.webp');
        }

        .bg13 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo13.webp');
        }

        .bg14 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo14.webp');
        }

        .bg15 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo15.webp');
        }

        .bg16 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo16.webp');
        }

        .bg17 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo17.webp');
        }

        .bg18 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo18.webp');
        }

        .bg19 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo19.webp');
        }

        .bg20 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo20.webp');
        }

        .bg21 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo21.webp');
        }

        .bg22 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo22.webp');
        }

        .bg23 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo23.webp');
        }

        .bg24 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo24.webp');
        }

        .bg25 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo25.webp');
        }

        .bg26 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo26.webp');
        }
    
        .bg27 {
            background-image: url('/assets/images/photo-gallery/couples-meeting/photo27.webp');
        }
    }
}

@media(max-width: 820px){
    #encontro-de-casais {

        #gallery-primary {

            label {
                width: 10px;
                height: 10px;
                margin: 65vh 4px 0 4px;
            }
        }
    }
}

@media(max-width: 620px){
    #encontro-de-casais {

        #gallery-primary {

            .photo-caption {
                font-size: 12px;
            }

            label {
                width: 6px;
                height: 6px;
                margin: 65vh 2px 0 2px;
            }

            input+label::after {
                background-size: 30px 30px;
                width: 40px;
            }

            input:checked+label+.slide+input+label::after {
                width: 40px;
            }
        }
    }
}

@media(max-width: 420px){
    #encontro-de-casais {

        #gallery-primary {

            label {
                width: 2px;
                height: 2px;
                margin: 50vh 1px 0 1px;
            }
        }
    }
}