/* import font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* import font Caveat */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
    /* reset css */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* default font */
    font-family: 'poppins', sans-serif;
}

:root {
    /* color palette */
    --color-level0: #565656;
    --color-level1: #0f60a7;
    --color-level2: #5E88BA;
    --color-level3: #fefefe;
    --color-red-youtube: #ff0000;
}

body {
    color: var(--color-level0);
}