@media (max-width: 1440px) {

    .limit-width {
        width: 100%;
    }
}

@media (max-width: 1024px) {

    /* section team icp */

    #team {
        padding-bottom: 20px;
    }

    .team-icp {
        margin-top: 10px;
    }

    .team-icp img {
        height: auto;
        width: 98%;
    }
}