:root {
    /* color palette */
    --color-level0: #565656;
    --color-level1: #0f60a7;
    --color-level2: #5E88BA;
    --color-level3: #fefefe;
}

@media (max-width: 1440px) {

    .limit-width {
        width: 100%;
    }

    /* section contribute */

    #contribuir p {
        font-size: 12px;
    }

    .content-pix, .content-qr-code {
        padding: 0 10px;
    }

    .contribute-container {
        padding: 0 10px;
    }

    .content-qr-code img {
        width: 200px;
    }

    .key-pix {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 1280px) {

    /* section contribute */

    #contribuir p {
        font-size: 16px;
    }

    .content-pix, .content-qr-code {
        padding: 0 30px;
    }

    .contribute-container {
        padding: 0 20px;
    }

    .content-qr-code img {
        width: 250px;
    }

    .key-pix {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1024px) {

    /* navigation menu */

    .container-logo .logo {
        width: 80px;
        height: 80px;
        top: 10px;
    }

    .nav-bar ul {
        gap: 30px;
        font-size: 14px;
    }

    .social-bar a {
        font-size: 16px
    }

    /* section team icp */

    #team {
        padding-bottom: 20px;
    }

    .team-icp {
        margin-top: 10px;
    }

    .team-icp img {
        height: auto;
        width: 98%;
    }

    /* section local */

    #local {

        .btn-waze::after {
            content: "ir com Waze";
        }

        .btn-maps::after {
            content: "ir com Maps";
        }

    }
}

@media (max-width: 836px) {

    /* section prayer request */

    #pedido-de-oracao {

        .group {
            flex-direction: column;
        }

        form > div > div{
            width: 93%;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 768px) {

    /* navigation menu */

    .navigation-menu {
        height: 50px;
        border-bottom: 3px solid var(--color-level1);
    }

    .section-default {
        padding-top:49px;
    }

    .nav-bar {
        width: 75%;
    }

    .nav-bar ul {
        gap: 15px;
        font-weight: bold;
    }

    .social-bar {
        position: fixed;
        bottom: 15px;
        left: 15px;
        background-color: var(--color-level3);
        padding: 8px 2px;
        border-radius: 50px;
        box-shadow: 3px 3px 20px 0 #000;
    }

    .social-bar a {
        font-size: 25px;
        padding: 3px 10px;
        margin: 0 5px;
    }

    /* section prayer request */

    #pedido-de-oracao, #pedido-de-oracao-enviado {
        padding: 40px 5px;
    }

    /* section contribute */

    #contribuir {
        height: auto;
    }

    .contribute-container, .content-qr-code-mobile {
        display: block;
    }

    .content-qr-code {
        display: none;
    }

    .content-pix, .content-qr-code-mobile {
        width: 100%;
        padding: 20px 50px;
        gap: 30px;
    }

    .content-qr-code-mobile img {
        display: flex;
        margin: 20px auto;
    }
}

@media (max-width: 620px) {

    /* navigation menu */

    .nav-bar {
        display: none;
    }

    .social-bar a {
        font-size: 25px;
        padding: 3px 10px;
        margin: 0 5px;
    }

    /* mobile navigation menu */

    .mobile-menu {
        display: block;
    }

    .mobile-nav-bar.active {
        display: block;
    }

    /* section prayer request */

    #pedido-de-oracao {

        form {
            padding: 0px;
        }
    }

    #pedido-de-oracao-enviado {
        #btn-home::after {
            content: "Ir para o Início";
        }
    }

    /* section local */

    #local {

        .title::after {
            content: "Localização";
        }
    }
}

@media (min-width: 450px) {

    /* mobile navigation menu */
    
    .mobile-nav-bar {
        width: 300px;

        position: absolute;
        right: 0px;
    }
}

@media (max-width: 450px) {

    /* section prayer request */

    #pedido-de-oracao-enviado {
        .card-thanks {
            padding: 40px 10px;
        }
    }

    /* section contribute */

    .content-pix, .content-qr-code-mobile {
        padding: 10px 0 30px 0;
    }

    .content-qr-code-mobile img {
        display: none;
    }

    .content-qr-code-mobile p {
        display: none;
    }

    #only-mobile-max-450 {
        display: block;
        text-align: center;
    }
}

@media (max-width: 375px) {

    /* navigation menu */

    .navigation-menu {
        height: 40px;
    }

    .section-default {
        padding-top: 38px;
    }

    .container-logo .logo {
        width: 70px;
        height: 70px;
        top: 5px;
    }

    .social-bar {
        padding: 11px 1px;
    }

    .social-bar a {
        font-size: 18px;
        padding: 5px 10px;
        margin: 0 5px;
    }

    /* mobile navigation menu */

    .mobile-menu .fa-bars{
        font-size: 30px;
    }

    /* footer */

    footer {
        font-size: 14px;
    }
}

@media (max-width: 320px) {

    /* navigation menu */

    .container-logo .logo {
        width: 60px;
        height: 60px;
        top: 8px;
    }

    .social-bar {
        padding: 6px 2px;
    }

    .social-bar a {
        font-size: 15px;
        padding: 3px 7px;
        margin: 0 3px;
    }
}

@media (max-height: 820px) {
    #pedido-de-oracao {
        height: auto;
    }
}

/* --- SECTION CULTS --- */

@media (max-width: 884px) {
    #cultos {
        height: auto;

        .cults-container {
            flex-direction: column;
        }
    }
}

/* --- SECTION PHOTO GALLERY --- */

@media (max-width: 1239px) and (min-width: 710px) {
    #galeria-de-fotos {
        .content {
            .wrapper.first-album {
                display: flex;
            }
        }
    }
}

@media (max-width: 830px) {
    #galeria-de-fotos {
        .content {
            .view {
                width: calc(100vw - 430px);
                height: calc(100vw - 430px);

                .gallery {

                    .card {
                        width: calc(100vw - 430px);
                        height: calc(100vw - 430px);
                    }

                    .description {
                        width: calc(100vw - 430px);
                    }
                }
            }

            #navigation {
                width: calc(100vw - 430px);
            }
        }
    }
}

@media (max-width: 720px) {
    #galeria-de-fotos {
        .content {
            .view {
                width: calc(100vw - 20px);
                height: calc(100vw - 20px);

                .gallery {

                    .card {
                        width: calc(100vw - 20px);
                        height: calc(100vw - 20px);
                    }

                    .description {
                        width: calc(100vw - 20px);
                    }
                }
            }

            #navigation {
                width: calc(100vw - 20px);
            }
        }
    }
}

/* daily devotional page - devocional.html */

@media (max-width: 720px) {

    #daily-devotional {

        .container-verse {
            padding: 10px;

            .btn_to-go-back:visited {
                color: var(--color-level0);
            }
        }

        img {
            width: 100%;
            margin: 1px 0 0 0;
        }

        p {
            line-height: 30px;
            margin: 0 auto;
            width: 100%;
            padding: 15px;
            text-align: left;
            font-size: 14px;
        }
    }
}

/* update verse of the day and daily devotional - atualizar-devocional.html */

@media (max-width: 836px) {

    #update-devotional-verse {

        .group {
            flex-direction: column;
        }

        form > div > div{
            width: 93%;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 768px) {

    #update-devotional-verse {
        padding: 40px 5px;
    }
}

@media (max-width: 620px) {

    #update-devotional-verse {
        form {
            padding: 0px;
        }
    }
}

@media (max-height: 820px) {

    #update-devotional-verse {
        height: auto;
    }
}