:root {
    /* color palette */
    --color-level0: #565656;
    --color-level1: #0f60a7;
    --color-level2: #5E88BA;
    --color-level3: #fefefe;
}

@media (max-width: 1440px) {

    .limit-width {
        width: 100%;
    }

    /* section banner */

    .church {
        font-size: 25px;
        top: -5px;
        left: 45px;
    }

    .communion {
        font-size: 70px;
    }

    .full {
        font-size: 60px;
        left: 79px;
        bottom: -45px;
    }

    .city {
        font-size: 15px;
        right: 80px;
        bottom: -15px;
    }

    .slogan {
        font-size: 14px;
        margin-top: 30px;
        letter-spacing: 7px;
    }

    .year {
        font-size: 50px;
        left: -37px;
        top: -55px;
    }

    .phrase {
        font-size: 25px;
    }

    .year-theme {
        font-size: 65px;
        bottom: -70px;
    }

    .pigeon {
        font-size: 1.7rem;
        top: -50px;
        right: 80px;
    }

    .theme-verse {
        font-size: 15px;
        margin-top: 50px;
        width: 90%;
    }

    .btn-bible {
        font-size: 14px;
        padding: 7px 12px;
        margin-top: 10px;
    }

    /* section cults */

    .cults-content img {
        width: 300px;
    }

    /* section contribute */

    #contribute p {
        font-size: 12px;
    }

    .content-pix, .content-qr-code {
        padding: 0 10px;
    }

    .contribute-container {
        padding: 0 10px;
    }

    .content-qr-code img {
        width: 200px;
    }

    .key-pix {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 1280px) {

    /* section contribute */

    #contribute p {
        font-size: 16px;
    }

    .content-pix, .content-qr-code {
        padding: 0 30px;
    }

    .contribute-container {
        padding: 0 20px;
    }

    .content-qr-code img {
        width: 250px;
    }

    .key-pix {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1024px) {

    /* navigation menu */

    .container-logo .logo {
        width: 80px;
        height: 80px;
        top: 10px;
    }
    
    .nav-bar ul {
        gap: 30px;
        font-size: 14px;
    }

    .social-bar a {
        font-size: 16px
    }

    /* section cults */

    .cults-content img {
        width: 250px;
    }

    /* section team icp */

    #team {
        padding-bottom: 20px;
    }

    .team-icp {
        margin-top: 10px;
    }

    .team-icp img {
        height: auto;
        width: 98%;
    }

    /* section local */

    #maps {
        width: 90%;
    }
}

@media (max-width: 836px) {

    /* section banner */

    #acrylic-background {
        display: flex;
        flex-direction: column;
    }

    #call-to-action {
        width: 100%;
        height: 40vh;
    }

    /* section banner */

    .church {
        font-size: 40px;
        top: -10px;
        left: 60px;
    }

    .communion {
        font-size: 100px;
    }

    .full {
        font-size: 80px;
        left: 116px;
        bottom: -55px;
    }

    .city {
        font-size: 24px;
        right: 110px;
        bottom: -18px;
    }

    .slogan {
        font-size: 17px;
        margin-top: 50px;
        letter-spacing: 15px;
    }

    #banner {
        width: 100%;
        height: 60vh;
    }

    .year {
        font-size: 80px;
        left: -61px;
        top: -75px;
    }

    .phrase {
        font-size: 40px;
    }

    .year-theme {
        font-size: 90px;
        bottom: -90px;
    }

    .pigeon {
        font-size: 2rem;
        top: -70px;
        right: 160px;
    }

    .theme-verse {
        font-size: 17px;
        margin-top: 70px;
    }

    .btn-bible {
        font-size: 16px;
        padding: 8px 14px;
        margin-top: 16px;
    }

    /* section cults */

    .cults-container {
        flex-direction: column;
    }

    .cults-content img {
        width: 260px;
    }
}

@media (max-width: 768px) {

    /* navigation menu */

    .navigation-menu {
        height: 50px;
        border-bottom: 3px solid var(--color-level1);
    }

    .section-default {
        padding-top:49px;
        border-top: 1.5px solid var(--color-level1);
        border-bottom: 1.5px solid var(--color-level1);
    }

    .nav-bar {
        width: 75%;
    }

    .nav-bar ul {
        gap: 15px;
        font-weight: bold;
    }

    .social-bar {
        position: fixed;
        bottom: 15px;
        left: 15px;
        background-color: var(--color-level3);
        padding: 8px 2px;
        border-radius: 50px;
        box-shadow: 3px 3px 20px 0 #000;
    }

    .social-bar a {
        font-size: 25px;
        padding: 3px 10px;
        margin: 0 5px;
    }

    /* section contribute */

    #contribute {
        height: auto;
    }

    .contribute-container, .content-qr-code-mobile {
        display: block;
    }

    .content-qr-code {
        display: none;
    }

    .content-pix, .content-qr-code-mobile {
        width: 100%;
        padding: 20px 50px;
        gap: 30px;
    }

    .content-qr-code-mobile img {
        display: flex;
        margin: 20px auto;
    }
}

@media (max-width: 620px) {

    /* navigation menu */

    .nav-bar {
        display: none;
    }

    .social-bar a {
        font-size: 25px;
        padding: 3px 10px;
        margin: 0 5px;
    }

    /* mobile navigation menu */

    .mobile-menu {
        display: block;
    }

    .mobile-nav-bar.active {
        display: block;
    }

    /* section banner */

    .church {
        font-size: 25px;
        top: -5px;
        left: 45px;
    }

    .communion {
        font-size: 70px;
    }

    .full {
        font-size: 60px;
        left: 79px;
        bottom: -45px;
    }

    .city {
        font-size: 15px;
        right: 80px;
        bottom: -15px;
    }

    .slogan {
        font-size: 14px;
        margin-top: 30px;
        letter-spacing: 7px;
    }

    .year {
        font-size: 50px;
        left: -37px;
        top: -55px;
    }

    .phrase {
        font-size: 25px;
    }

    .year-theme {
        font-size: 65px;
        bottom: -70px;
    }

    .pigeon {
        font-size: 1.7rem;
        top: -50px;
        right: 80px;
    }

    .theme-verse {
        font-size: 15px;
        margin-top: 50px;
        width: 90%;
    }

    .btn-bible {
        font-size: 14px;
        padding: 7px 12px;
        margin-top: 10px;
    }
}

@media (min-width: 450px) {

    /* mobile navigation menu */
    
    .mobile-nav-bar {
        width: 300px;

        position: absolute;
        right: 0px;
    }
}

@media (max-width: 450px) {

    /* section banner */

    .church {
        font-size: 20px;
        top: -3px;
        left: 34px;
    }

    .communion {
        font-size: 55px;
    }

    .full {
        font-size: 40px;
        left: 67px;
        bottom: -27px;
    }

    .city {
        font-size: 15px;
        right: 60px;
        bottom: -11px;
    }

    .slogan {
        font-size: 13px;
        margin-top: 25px;
        letter-spacing: 7px;
    }

    .year {
        font-size: 35px;
        left: -27px;
        top: -35px;
    }

    .phrase {
        font-size: 18px;
    }

    .year-theme {
        font-size: 50px;
        bottom: -55px;
        left: -67px;
    }

    .pigeon {
        font-size: 1.7rem;
        top: -45px;
        right:50px;
    }

    /* section default in main*/

    .section-default-1 {
        height: auto;
    }

    /* section cults */

    .section-title {
        margin: 15px 0 15px 0;
        font-size: 25px;
    }

    .cults-container {
        gap: 20px;
    }

    .cults-content img {
        width: 310px;
    }

    /* section contribute */

    .content-pix, .content-qr-code-mobile {
        padding: 10px 0 30px 0;
    }

    .content-qr-code-mobile img {
        display: none;
    }

    .content-qr-code-mobile p {
        display: none;
    }

    #only-mobile-max-450 {
        display: block;
        text-align: center;
    }

    /* section local */

    #maps {
        height: 70%;
    }
}

@media (max-width: 375px) {

    /* navigation menu */

    .navigation-menu {
        height: 40px;
    }

    .section-default {
        padding-top: 38px;
    }

    .container-logo .logo {
        width: 70px;
        height: 70px;
        top: 5px;
    }

    .social-bar {
        padding: 11px 1px;
    }

    .social-bar a {
        font-size: 18px;
        padding: 5px 10px;
        margin: 0 5px;
    }

    /* mobile navigation menu */

    .mobile-menu .fa-bars{
        font-size: 30px;
    }
}

@media (max-width: 320px) {

    /* navigation menu */

    .container-logo .logo {
        width: 60px;
        height: 60px;
        top: 8px;
    }

    .social-bar {
        padding: 6px 2px;
    }

    .social-bar a {
        font-size: 15px;
        padding: 3px 7px;
        margin: 0 3px;
    }

    /* section banner */

    .church {
        font-size: 15px;
        top: -6px;
        left: 21px;
    }

    .communion {
        font-size: 37px;
    }

    .full {
        font-size: 30px;
        left: 43px;
        bottom: -25px;
    }

    .city {
        font-size: 10px;
        right: 35px;
        bottom: -11px;
    }

    .slogan {
        font-size: 10px;
        margin-top: 15px;
        letter-spacing: 4px;
    }

    .year {
        font-size: 25px;
        left: -10px;
        top: -15px;
    }

    .phrase {
        font-size: 16px;
    }

    .year-theme {
        font-size: 30px;
        bottom: -30px;
        left: -18px;
    }

    .pigeon {
        font-size: 1.3rem;
        top: -20px;
        right: 70px;
    }

    .theme-verse {
        font-size: 11px;
        margin-top: 25px;
    }

    .btn-bible {
        border-radius: 20px;
        font-size: 12px;
        padding: 7px 9px;
        margin-top: 5px;
    }

    .btn-bible i {
        font-size: 1rem;
        margin-right: 6px;
    }

    .section-default-1 {
        height: auto;
    }

    /* section cults */

    .section-title {
        margin: 0 0 10px 0;
        font-size: 20px;
    }

    .cults-container {
        gap: 10px;
    }

    .cults-content img {
        width: 200px;
    }
}