body {
    background-color: var(--color-level3);
    color: var(--color-level0);
}

/* section default in main*/

.section-default {
    height: 100vh;
    padding-top: 68px;
    background-color: var(--color-level3);
}

/* section title default */

.section-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: var(--color-level3);
    backdrop-filter: blur(10px);
}

/* section team icp */

#team {
    background-image: url('../images/wallpaper/wallpaper-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--color-level3);
    height: auto;
    padding-bottom: 68px;
}

.team-icp {
    margin-top: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-icp img {
    height: 70vh;
    border-radius: 10px;
}