/* import font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* color palette */
    --color-level0: #565656;
    --color-level1: #0f60a7;
    --color-level2: #5E88BA;
    --color-level3: #fefefe;
}

* {
    /* reset css */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* default font */
    font-family: 'poppins', sans-serif;
}

body {
    background-color: var(--color-level1);
    color: var(--color-level0);
}

.limit-width {
    width: 1440px;
    padding: 0 30px;
    margin: 0 auto;
}

/* navigation menu */

.navigation-menu {
    background-color: var(--color-level3);
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    border-radius: 0 0 10px 10px;
    font-size: 16px;
    border-bottom: 5px solid var(--color-level1);
    z-index: 10;
}

.navigation-menu .container-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.container-logo {
    position: relative;
    height: 100%;
    width: 129.06px;
}

.container-logo .logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20px;

    box-shadow: 3px 3px 20px 0 #000;
    border-radius: 50%;
}

.nav-bar ul {
    display: flex;
    gap: 60px;
}

.nav-items {
    list-style: none;
    border-bottom: 3px solid var(--color-level3);
}

.nav-items:hover {
    border-bottom: 3px solid var(--color-level1);
}

.nav-items a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-level0);
}

.social-bar a {
    font-size: 20px;
    border: solid 1px var(--color-level0);
    border-radius: 50%;
    padding: 5px 10px;
    color: var(--color-level0);
}

.social-bar a:hover{
    color: var(--color-level1);
    border: solid 1px var(--color-level1);
}

/* mobile navigation menu */

.mobile-menu {
    border: none;
    background-color: transparent;
    display: none;
    color: var(--color-level0);
}

.fa-bars {
    font-size: 35px;
}

.mobile-nav-bar {
    background-color: var(--color-level3);
    border-radius: 10px;
    margin: 5px;
    text-align: end;
    display: none;
}

.mobile-nav-items {
    list-style: none;
    padding: 10px 25px;
}

.border-bottom {
    border-bottom: 1px solid;
}

.mobile-nav-items a {
    text-decoration: none;
    padding: 10px 0px 10px 64px;
    color: var(--color-level0);
    text-transform: uppercase;
}

/* section default in main*/

.section-default {
    height: 100vh;
    padding-top: 68px;
    border-radius: 10px;
    background-color: var(--color-level3);
    border-top: 2px solid var(--color-level1);
    border-bottom: 2px solid var(--color-level1);
}

.section-default-1 {
    height: 100vh;
    padding-top: 68px;
    border-radius: 10px;
    background-color: var(--color-level3);
    border-top: 2px solid var(--color-level1);
    border-bottom: 2px solid var(--color-level1);
}

/* section banner */

#home {
    background-image: url(/assets/images/banner-sky.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--color-level3);
}

#acrylic-background {
    background-color: #0000002a;
    width: 100%;
    height: 100%;
    display: flex;
}

#call-to-action {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.church {
    font-size: 40px;
    font-weight: 200;
    position: absolute;
    top: -10px;
    left: 60px;
}

.communion {
    font-size: 100px;
}

.full {
    font-size: 80px;
    font-weight: 500;
    position: absolute;
    left: 116px;
    bottom: -55px;
}

.city {
    position: absolute;
    right: 110px;
    bottom: -18px;
}

.location {
    position: absolute;
    right: 70px;
    bottom: -15px;
}

.location i {
    font-size: 2rem;
    color: var(--color-level3);
    text-shadow: 5px 5px #000;
}

.slogan {
    font-size: 17px;
    margin-top: 50px;
    letter-spacing: 15px;
}

#banner {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.year {
    font-size: 80px;
    font-weight: 500;
    position: absolute;
    left: -61px;
    top: -75px;
}

.phrase {
    font-size: 40px;
    font-weight: 200;
}

.year-theme {
    font-size: 90px;
    position: absolute;
    left: -80px;
    bottom: -90px;
}

.pigeon {
    font-size: 2rem;
    position: absolute;
    top: -70px;
    right: 160px;
}

.theme-verse {
    font-size: 17px;
    margin-top: 70px;
    width: 80%;
    text-align: center;
}

.btn-bible {
    color: var(--color-level3);
    background-color: var(--color-level1);
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    padding: 8px 14px;
    display: flex;
    align-items: center;
    box-shadow: 3px 3px 20px 0 #000;
    margin-top: 15px;
}

.btn-bible:hover {
    text-decoration: underline;
}

.btn-bible i {
    font-size: 1.2rem;
    margin-right: 10px;
}

.title {
    position: relative;
}

/* section cults */

.section-title {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}

.cults-container {
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cults-content img {
    width: 400px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px 0 #000;
}

/* section contribute */

#contribute {
    color: var(--color-level3);
    background-color: var(--color-level2);
}

.contribute-container {
    display: flex;
    height: 94%;
}

.content-pix, .content-qr-code {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 70px;
}

.contribute-container .fa-pix {
    color: #32bcad;
    font-size: 20px;
}

.contribute-container p span,
.contribute-container i {
    color: rgb(255, 196, 0);
}

.tithe, .offer {
    border-bottom: 3px solid var(--color-level0);
}

.card-bible {
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
    color: var(--color-level0);
    box-shadow: 3px 3px 20px 0 #000;
    background-color: var(--color-level3);
}

.content-qr-code img, .content-qr-code-mobile img {
    box-shadow: 3px 3px 20px 0 #000;
    border-radius: 10px;
    width: 250px;
}

.key-pix {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#key-pix, #key-pix-mobile {
    border: none;
    padding: 8px;
    width: 160px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    color: var(--color-level0);
    box-shadow: 3px 3px 20px 0 #000;
}

.btn-copy-pix {
    background-color: var(--color-level1);
    color: var(--color-level3);
    border-radius: 20px;
    border: none;
    font-size: 14px;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 10px 0 #000;
    cursor: pointer;
}

.btn-copy-pix i {
    font-size: 1.2rem;
    margin-left: 10px;
    color: var(--color-level3);
}

.content-qr-code-mobile {
    display: none;
}

#only-mobile-max-450 {
    display: none;
}

/* section local */

.section-title {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}

#local p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

#maps {
    margin: 0 auto 0 auto;
    width: 1050px;
    height: 80%;
}

#maps iframe {
    width:100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 20px 0 #000;
}