body {
    background-color: var(--color-level3);
    color: var(--color-level0);
}

#verse-of-the-day {
    width: 768px;
    margin: 0 auto;
    border: 0;
    height: auto;
    text-align: center;
}

#verse-of-the-day img {
    width: 50%;
    border-radius: 30px;
}

#verse-of-the-day p {
    line-height: 30px;
    margin: 0 auto;
    width: 100%;
    padding: 30px;
    text-align: justify;
}

span {
    color: var(--color-level1);
}

footer {
    position: relative;
    bottom: 0;
}

@media (max-width: 768px) {

    #verse-of-the-day {
        width: 100%;
    }
    
    #verse-of-the-day img {
        width: 100%;
        border-radius: 30px;
        margin: 1px 0 0 0;
    }
    
    #verse-of-the-day p {
        line-height: 30px;
        margin: 0 auto;
        width: 100%;
        padding: 15px;
        text-align: left;
        font-size: 14px;
    }

}